* {
    box-sizing: border-box;
}
/* body {
    text-align: center;
} */
.backg1 {
    height: 800px;
    background-image: url(hero-bg.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.img-center img {
    margin: auto;
    display: flex;
    padding-top: 69px;
    margin-bottom: 69px;
}
.LBG {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    font-weight: 800;
    color: #514949;
    margin-bottom: 36px;
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
}
.LBG p {
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}
a {
    color: #E7332B;
    text-decoration: none;
}
button {
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
}
.allbut {
    margin-top: 92px;
    display: flex;
    flex-direction: row;
   padding: 0px;
}
.but1 {
    background-color: #E7332B;
    color: #fff;
    margin-right: 24px;
    padding: 11px 28px;
    border: 1px solid #E7332B;
}
.but2 {
    background-color: #fff;
    color: #E7332B;
    padding: 11px 28px;
    border: 1px solid #E7332B;
}
.but1:hover {
    background-color: #fff;
    color: red;
}
.but2:hover {
    background-color: #E7332B;
    color: #fff;
}






}